{% extends "base.html" %}
{% set active_page = "Home" %}
{% block content %}
<div class="row red-row">
    <img src="img/torch.png" />
    <h1 class="cover-heading">PyLondinium 2020</h1>
    <h2 style="width: 100%;">A Python conference for developers and users of Python</h2>
    <p style="text-align: left; margin: 2em" class="copy">
      PyLondinium is back for 2020, with a diverse program of sprints, workshops
      and talks. We'll be returning to Bloomberg's European HQ in the heart of the City of
      London, June 5th, 6th and 7th, 2020.
    </p>
</div>

<div class="row cfa">
  <div class="col-sm" style="margin-top: 1em; margin-bottom: 1em;">
    <a href="http://eepurl.com/ga6KzH" class="btn btn-lg btn-secondary">Keep up to date</a>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <h3>By The Community</h3>
    <p>
      PyLondinium is a conference organised volunteers in the City of
      London. We're looking to provide a gathering opportunity for Python
      enthusiasts and engineers in London.
    </p>
  </div>
  <div class="col-sm">
    <h3>For The Community</h3>
    <p>
      Tickets are meant to be affordable. We're following the principle of
      "everyone pays"; everyone including speakers and organisers are
      required to buy a ticket! Just by coming to the conference, you
      are helping the wider Python community.
    </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>With Thanks</h3>
    <p>
      The event wouldn't be possible without the following sponsors and
      collaborators.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <a href="https://www.techatbloomberg.com/"><img src="img/bloomberg.png" style="max-height: 120px; max-width: 100%;" /></a>
  </div>
</div>
{% endblock %}