{% extends "base.html" %}
{% set active_page = "Schedule" %}
{% block content %}
<div class="row">
  <div class="col">
    <h1 class="cover-heading red-text">{{talk['title']}}</h1>
    <h2 class="red-text">{{talk['name']}}</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3 class="cover-heading red-text">Abstract</h3>
    <p>{{talk['abstract']}}</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3 class="cover-heading red-text">Description</h3>
    <p>{{talk['description']}}</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3 class="cover-heading red-text">Bio</h3>
    <p>{{talk['bio']}}</p>
  </div>
</div>
{% endblock %}