{% extends "base.html" %}
{% set active_page = "Venue" %}
{% block content %}
<div class="row">
  <div class="col">
    <h1 class="cover-heading red-text">Venue</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <video autoplay="" loop="" muted="" poster="data:image/gif,AAAA" class="align-center" style="max-width: 100%">
                            <source src="https://player.vimeo.com/external/239626727.hd.mp4?s=0d026f1c0c9389e178e20a37021214a59f0cae93&amp;profile_id=174" type="video/mp4">
                        </video>
  </div>
  <div class="col" style="text-align: left">
      <p>
          PyLondinium is taking place at <a href="https://www.bloomberg.com/company/london/">Bloomberg's new European headquarters</a>, which is located in the heart of
          the City of London and
          was awarded the <a href="https://www.bloomberg.com/company/announcements/bloomberg-most-sustainable-office-building/">most sustainable</a>
          office space in the world. A perfect place for PyLondinium.
      </p>
      <p>
          The venue provides two auditoriums for a track each, complimentary coffee and snacks, many artwork across
          its floors, a retail arcade that reinstates an ancient Roman travel route and a museum for the
          roman Temple of Mithras, which was restored to its original site.
      </p>
  </div>
</div>
<div class="row">
  <div class="col" style="text-align: left">
    <h3>Address</h3>
    <p>
      3 Queen Victoria St<br />
      London<br />
      EC4N 4TQ
    </p>
    <p>Google Maps: <a href="https://goo.gl/maps/sPLba2VqptT2">https://goo.gl/maps/sPLba2VqptT2</a></p>
  </div>
  <div class="col">
      <a href="https://www.techatbloomberg.com/"><img src="img/bloomberg-building.jpg" style="max-width: 100%;" /></a>
  </div>
</div>
{% endblock %}